@import '~@angular/material/theming';

/*
* Define the palettes for your theme using the Material Design palettes available in palette.scss
* (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
*/
$grey-primary: mat-palette($mat-amber);
$grey-accent:  mat-palette($mat-deep-purple);
$grey-warning: mat-palette($mat-red);

/*
* Create the theme object (a Sass map containing all of the palettes).
*/
$ziv-amber-theme: mat-light-theme(
  $grey-primary,
  $grey-accent,
  $grey-warning
);
